doctype html
html(ng-app='app', lang='en')
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    .container(ng-controller='MainCtrl')
      block content

    script(src='/angular/angular.js')
    script(src='/angular-resource/angular-resource.js')
    script(src='/js/app.js')
